*{
    font-family: roboto, sans-serif, 'Times New Roman', Times, serif;
}

.container{
    gap: 70px;
    padding: 70px;
    padding-top: 30px;
    /* width: 100vw;
    height: 100vh; */
}

.library-section{
    display: grid;
    grid-template-columns: 1fr 1.8fr;
}

form{
    border: 1px solid black;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

label{
    font-weight: bold;
}

input{
    width: 300px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid gray;
}

#read{
    accent-color: black;
}

button{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 7px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

button:hover{
    color:white;
    background-color: black;
    border: 1px solid white;
}

.rightside{
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.book-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 200px;
    width: 140px;
    border-radius: 8px;

}

.book-title{
    margin-bottom: 7px;
}
 
.book-author,
.read-status{
    margin-top: 3px;
    margin-bottom: 0;
}

.book-pages{
    margin-top: 5px;
    margin-bottom: 5px;
}

.read-status,
.remove-button{
    margin-bottom: 4px;
}
